html {
    overflow: hidden;
}

.container {
    margin: 10% auto;
    overflow: hidden;
    max-width: 70%;
    padding: 10px;
}



/*******index.html*************/

.post-description {
    font-size: 16px;
    padding: 1%;
    margin: 2%;
    word-spacing: 3px;
}

.post-image {
    margin-top: 5%;
}



/*****************************/

.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute;
    top: 30px;
    font-size: 10px;
}

.ui.form {
    margin-top: 8%;
    position: relative;
}

.ui.form .field {
    clear: both;
    margin-top: 2%  !important;
}

.launch.button {
    display: block;
}

.ui.huge.header {
    font-size: 3em !important;
}
